@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-light {
    color: var(--color-text-light);
  }

  .text-muted {
    color: var(--color-text-muted);
  }

  .bg-light {
    background-color: var(--color-bg-light);
  }

  .bg-light-secondary {
    background-color: var(--color-bg-light-secondary);
  }

  .bg-gradient,
  .bg-gradient-secondary {
    background-image: var(--accent-gradient);
    background-size: 400%;
    background-position: 100%;
    transition: background-position 1s cubic-bezier(0.22, 1, 0.36, 1),
      color 1s cubic-bezier(0.22, 1, 0.36, 1);
  }

  .bg-gradient-secondary {
    background-image: var(--accent-gradient-secondary);
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 10%;
    transition: background-position 1s cubic-bezier(0.22, 1, 0.36, 1);
  }

  .bg-gradient:is(:hover, :focus-within),
  .bg-gradient-secondary:is(:hover, :focus-within),
  .text-gradient:is(:hover, :focus-within) {
    background-position: 0;
  }

  .btn {
    @apply inline-flex items-center justify-center rounded-full shadow-md border-gray-400 border bg-transparent font-medium text-center text-base text-light leading-snug transition py-3.5 px-6 md:px-8 ease-in duration-200 focus:ring-blue-500 focus:ring-offset-blue-200 focus:ring-2 focus:ring-offset-2 hover:bg-gray-100 hover:border-gray-600;
  }

  .btn-ghost {
    @apply shadow-none text-gray-900 hover:text-white hover:bg-gray-900 border-gray-900;
  }

  .btn-primary {
    @apply font-semibold bg-gray-900 text-white border-none hover:bg-gray-900/90;
  }

  .btn-inverted {
    @apply font-semibold bg-light text-light border-none hover:bg-white/90;
  }
}

[data-toggle-nav] path {
  @apply transition;
}
[data-toggle-nav].expanded g > path:first-child {
  @apply -rotate-45 translate-y-[15px] translate-x-[-3px];
}

[data-toggle-nav].expanded g > path:last-child {
  @apply rotate-45 translate-y-[-8px] translate-x-[14px];
}
