---
import Layout from "~/layouts/BaseLayout.astro";
---

<Layout title={"Page Not Found"}>
  <main class="flex items-center justify-center flex-col">
    <h1 class="font-bold text-3xl">Uh Oh!</h1>
    <p class="font-base mb-8">There's nothing here :(</p>
    <a href="/" class="btn btn-primary">Go Back Home</a>
  </main>
</Layout>
