---
import { Icon } from "astro-icon";
import { CONTACT } from "~/config";
import Layout from "~/layouts/BaseLayout.astro";
import * as SibApiV3Sdk from "@sendinblue/client";
import { verifyCaptcha } from "~/utils/captcha";

let messageSent = false;

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const token = data.get("g-recaptcha-response")?.toString() || "";
    const captchaResult = await verifyCaptcha(token);

    if (captchaResult.errorCodes.length != undefined && captchaResult.errorCodes.length > 0) {
      // check for error codes
      console.log("captcha error");
      throw Error(captchaResult.errorCodes.join(","));
    } else if (captchaResult.success == false) {
      console.log("you are a bot get out of here");
      return Astro.redirect("/youareabot"); // send bots to the void
    }

    const name = data.get("name") as string;
    const email = data.get("email") as string;
    const message = data.get("message") as string;

    const apiInstance = new SibApiV3Sdk.TransactionalEmailsApi();
    const key = import.meta.env.EMAIL_API_KEY || "";
    apiInstance.setApiKey(SibApiV3Sdk.TransactionalEmailsApiApiKeys.apiKey, key);

    let sendSmtpEmail = new SibApiV3Sdk.SendSmtpEmail();
    sendSmtpEmail.templateId = 2;
    sendSmtpEmail.to = [{ email: "anthony@anthonyinglephotos.com", name: "Anthony Ingle" }];
    sendSmtpEmail.replyTo = { email: email, name: name };
    sendSmtpEmail.params = {
      NAME: name,
      EMAIL: email,
      MESSAGE: message,
      DATE: Date.now(),
    };

    let result = await apiInstance.sendTransacEmail(sendSmtpEmail);

    if (result.response.statusCode == 201) {
      messageSent = true;
    } else {
      throw Error("Something went wrong");
    }
  } catch (error) {
    console.error(error);
  }
}

// The "text" div below is used to prevent bots from spamming the form.
// They hopefully fill out the text field when is hidden for normal users.
---

<Layout title="Contact">
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <div>
    <main class="m-auto rounded-xl py-8 px-8 sm:px-12 max-w-2xl">
      <h1 class="text-primary text-4xl font-bold mb-8">Contact Me</h1>
      <div class="flex gap-6 mb-8">
        {
          CONTACT.map(({ ariaLabel, href, icon, customClasses }) => (
            <a
              href={href}
              rel="noreferrer"
              target="_blank"
              class:list={["text-primary", customClasses]}
            >
              <Icon class="w-7 h-7" name={icon} />
              <span class="sr-only">{ariaLabel}</span>
            </a>
          ))
        }
      </div>
      <hr class="mb-4" />

      {
        !messageSent ? (
          <form method="post">
            <h2 class="text-primary text-2xl font-bold my-4">Send a Message</h2>
            <div class="mb-6">
              <label for="name" class="block mb-2 text-sm font-medium text-gray-900">
                Name
              </label>
              <input
                type="text"
                name="name"
                class="bg-slate-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5 focus:outline-primary"
                placeholder="Enter your name"
                required
              />
            </div>
            <div class="mb-6">
              <label for="email" class="block mb-2 text-sm font-medium text-gray-900">
                Email
              </label>
              <input
                type="email"
                name="email"
                class="bg-slate-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:primary focus:border-primary block w-full p-2.5 focus:outline-primary"
                placeholder="Enter your email"
                required
              />
            </div>
            <div class="hidden" aria-hidden>
              <label for="text" class="hidden" aria-hidden>
                Text
              </label>
              <input type="text" name="text" class="hidden" placeholder="Enter text" aria-hidden />
            </div>
            <div class="mb-6">
              <label for="message" class="block mb-2 text-sm font-medium text-gray-900">
                Message
              </label>
              <textarea
                name="message"
                class="bg-slate-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5 focus:outline-primary min-h-[42px]"
                placeholder="Type your message here"
                rows="4"
                required
              />
            </div>
            <div class="g-recaptcha mb-6" data-sitekey={import.meta.env.RECAPTCHA_SITE_KEY}></div>

            <button type="submit" class="btn btn-primary font-medium text-sm px-12 w-full group">
              Send
              <Icon class="w-4 h-4 ml-2 group-hover:-rotate-45 transition-all" name="mdi:send" />
            </button>
          </form>
        ) : (
          <div>
            <Icon class="w-10 h-10 text-green-600" name="simple-line-icons:check" />
            <p class="font-bold text-2xl my-4">Thank you for reaching out!</p>
            <p>I will get back to you as soon as possible.</p>
          </div>
        )
      }
    </main>
  </div>
</Layout>
