---
import Layout from "~/layouts/BaseLayout.astro";
import Gallery from "~/components/widgets/Gallery.astro";
---

<Layout title="Home">
  <Gallery />

  <main class="text-center my-16 bg-gray-900 px-4 py-16 mx-4 rounded-xl">
    <h1 class="text-3xl font-bold mb-8 text-white">Ready For a Photo Session?</h1>
    <a class="btn btn-inverted cursor-pointer w-full max-w-xs" href="/book">Book a Session Now</a>
  </main>
</Layout>
